{% extends "test_mapbox/base.html" %}



{% block head %}{% load static %}
<link rel="stylesheet" href="{% static 'test_mapbox/main.css' %}">
{% endblock %}

{% block content %}{% load static %}

<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-4 h-100"> <!-- control parameters -->
            <h3>controls</h3>
        </div>
        <div class="col-8 h-100"> <!-- leaflet -->
            <div class="row h-100 m-4">
                <div class="col-12 h-10">
                    <h4>Mapbox header</h4>
                </div>
                <div class="col-12 h-100 m-4">
                        <div id="map" class="h-100"></div>
                        <div id="tile-menu"><!-- https://docs.mapbox.com/jp/mapbox-gl-js/example/setstyle/ -->
                            <input
                            id="streets-v11"
                            type="radio"
                            name="rtoggle"
                            value="streets"
                            checked="checked"
                            />
                            <label for="streets">streets</label>
                            <input id="light-v10" type="radio" name="rtoggle" value="light" />
                            <label for="light">light</label>
                            <input id="dark-v10" type="radio" name="rtoggle" value="dark" />
                            <label for="dark">dark</label>
                            <input id="bright-v9" type="radio" name="rtoggle" value="bright" />
                            <label for="bright">bright</label>
                            <input id="outdoors-v11" type="radio" name="rtoggle" value="outdoors" />
                            <label for="outdoors">outdoors</label>
                            <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" />
                            <label for="satellite">satellite</label>
                            <input id="satellite-streets-v11" type="radio" name="rtoggle" value="satellite-streets" />
                            <label for="satellite-streets">satellite-streets</label>
                            <input id="navigation-preview-day-v4" type="radio" name="rtoggle" value="navigation-preview-day" />
                            <label for="navigation-preview-day">navigation-preview-day</label>
                            <input id="navigation-preview-night-v4" type="radio" name="rtoggle" value="navigation-preview-night" />
                            <label for="navigation-preview-night">navigation-preview-night</label>
                            <input id="navigation-guidance-day-v4" type="radio" name="rtoggle" value="navigation-guidance-day" />
                            <label for="navigation-guidance-day">navigation-guidance-day</label>
                            <input id="navigation-guidance-night-v4" type="radio" name="rtoggle" value="navigation-guidance-night" />
                            <label for="navigation-guidance-night">navigation-guidance-night</label>
                        </div>
                </div>
       
            </div>

        </div>
    </div>
</div>

<script>
// for jinja2

var test_var = "test";  // just for debug

var accessToken = "{{ accessToken }}";

</script>

<script src="{% static 'test_mapbox/main.js' %}"></script>

{% endblock %}
